BODY {
	font:16px/1.2em 'Droid Sans', Calibri, Verdana, Arial, sans-serif;
	text-shadow:0 1px 0 #EEE;
	background:#eee;
}

.wrapper {
	padding:3%;
	margin:3% auto;
	background:#fff;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	box-shadow:0 0 10px rgba(0, 0, 0, .4);
	overflow:hidden;
	max-width:800px;
	min-width:320px;
}

.photo {
	padding:0 0 0 3%;
	overflow:hidden;
	position:relative;
	border-left:3px double #999;
	border-bottom:3px double #999;
	}

.photo:after {
	content:"";
	position:absolute;
	height:100%;
	width:20px;
	background:url(../i/gradient.png);
	top:0;
	right:0;
	}

A {
	color:#036;
}

A:visited {
	color:#069;
}

A:hover {
	text-decoration:none;
}

H1 {
	margin:0 0 1em;
	font-size:1.2em;
}

H2 {
	margin:1em 0 .5em;
	font-size:1.1em;
}

P,
LI {
	margin:.3em 0;
}

UL {
	padding:0 1.2em;
}

H2 A {
	border-bottom:1px dotted #036;
	text-decoration:none;
}

H2 A:visited {
	color:#036;
}

H2 A:hover {
	border-bottom:0;
}

#comments {
	display:none;
}

.fade {
    opacity: .5;
}
